$color_background: lightgrey;
$color_container: lightgrey;
$color_screen: #001D3D;
$color_buttons: #003566;
$color_buttons-hover: #004483;
$color_buttons-important: #FFC300;
$color_buttons-important-hover: #FFD60A;

